.button-premium {
    box-shadow: 0 0 25px 0 rgba(255, 153, 0, 0.50);
    border-radius: 6px;
    background: linear-gradient(90deg, #6100FF -19.29%, #C0F 114.47%);
}

.paly-btn.playing .play-btnn {
    display: none;
}

.paly-btn .pause-btnn {
    display: none;
}

.paly-btn.playing .pause-btnn {
    display: block;
}

.club-avatar {
    box-shadow: 0 11px 31px 0 rgba(140, 189, 226, 0.50);
    background-image: url('../../assets/img/clients/Bitmap.png');
}

.radio {
  display: block;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  color: #FFF;
  font-family: Roboto, serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
  
.radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0; 
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #1C1C1C;
  border-radius: 50%;
  border: 1px solid #FFF;
}

.radio:hover input ~ .checkmark {
  background-color: #ccc;
}

.radio input:checked ~ .checkmark {
  background-color: #fff;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.radio input:checked ~ .checkmark:after {  
  display: block;
}

.radio .checkmark:after {
  top: -1px;
  left: -1px;
  width: 20px;
  height: 20px;
  background: url(../img/icons/check.svg) center;
  background-color: #86D2BE;
  border-radius: 1000px;
}

.checkbox {
  display: inherit;
  position: relative;
  cursor: pointer;
  font-size: 16px;
}

.checkbox input {
  opacity: 0;
  cursor: pointer;
  display: none;
}

.checkbox_mark {
  height: 20px;
  width: 20px;
  padding: 2.7px 2.55px;
  border-radius: 4.596px;
  border: 1px solid #020246;
  background: #F9FAFB;
}

.checkbox:hover input ~ .checkbox_mark {
  background: #ccc;
}

.checkbox input:checked ~ .checkbox_mark {
  background: #fff;
}

.checkbox_mark:after {
  content: "";
  display: none;
}

.checkbox input:checked ~ .checkbox_mark:after {
  display: inherit;
  position: relative;
}

.checkbox .checkbox_mark:after {
  left: 3px;
  top: -1px;
  width: 7px;
  height: 12px;
  border: solid #B463A6;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.sidebar-mobile {
  right: -100%;
  transition: all .35s ease-in-out;
}

.sidebar-mobile.active {
  right: 0 !important;
}